/* Contenedor de la información y la foto de perfil*/
.hero {
  min-height: 95dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 3rem 0;
  position: relative;
  animation-name: reveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Contenedor de la información */
.hero__information {
  flex-basis: 750px;
  flex-grow: 1;
}

/* Información del perfil */
.hero__title {
  color: var(--color-primary-text);
  font-family: Borsok;
  font-size: clamp(2.8rem, 4vw, 5rem);
  margin-bottom: 0.8rem;
}

.hero__title--efect {
  color: var(--color-primary);
  font-family: Borsok;
}

.hero__sub-title {
  color: var(--color-secundary-text);
  font-family: Montserrat;
  font-size: clamp(1.7rem, 3vw, 3rem);
  font-weight: 400;
}

.hero__description {
  color: var(--color-secundary-text);
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  max-width: 80%;
  margin: 3.5rem 0;
}

/* Botones de llamado a la accion */
.buttons-wrapper {
  margin: 1rem 0 3rem;
  display: flex;
  gap: 1rem;
}
#contactButton,
#projectsButton {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  transition: background-color 0.2s;
}
#contactButton {
  color: black;
  background-color: var(--color-primary);
}
#projectsButton {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* Efecto de los botones al pasar el mouse por encima */
#contactButton:hover {
  background-color: var(--color-darker-primary);
}
#projectsButton:hover {
  background-color: rgba(53, 211, 153, 0.11);
}

/* Fotografía del perfil */
.hero__photo-wrapper {
  max-width: 500px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.hero__photo {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

/* === ANIMACIONES === */
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --- RESPONSIVE DESIGNE --- */
/* Estilos para móviles */
@media (width <= 768px) {
  .hero__title {
    line-height: 1.1; /* Para evitar efectos no deseados en los posibles saltos de lineas */
    margin-bottom: 0.7rem;
  }
  .hero__description {
    max-width: 100%;
    margin: 3.5rem 0;
  }
  #contactButton,
  #projectsButton {
    font-size: 1.1rem;
    padding: 0.8rem 1.1rem;
  }
}
