.hero {
  display: flex;
  justify-content: start;
  gap: 120px;
  margin: 80px 0 0 100px;
}

/* Contenedor de la información y la foto de perfil */
.hero__information {
  flex-basis: 650px;
}

/* Información del perfil */
.hero__title {
  color: var(--color-primary-text);
  font-family: Borsok;
  font-size: 3.5em;
  margin-bottom: 0.1em;
}

.hero__title--efect {
  color: var(--color-primary);
  font-family: Borsok;
}

.hero__sub-title {
  color: var(--color-secundary-text);
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 400;
}

.hero__description {
  color: var(--color-secundary-text);
  font-size: 1.15em;
  margin: 2em 0;
}

/* Botones de llamado a la accion */
.buttons-wrapper {
  margin: 1em 0 3em;
  display: flex;
  gap: 1em;
}
#contactButton,
#projectsButton {
  text-decoration: none;
  display: block;
  padding: 0.8em 1.5em;
  border-radius: 6px;
  transition: background-color 0.2s;
}
#contactButton {
  color: black;
  background-color: var(--color-primary);
}
#projectsButton {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* Efecto de los botones al pasar el mouse por encima */
#contactButton:hover {
  background-color: var(--color-darker-primary);
}
#projectsButton:hover {
  background-color: rgba(53, 211, 153, 0.11);
}

/* Fotografía del perfil */
.hero__photo-wrapper {
  flex-basis: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__photo {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
