.subtitle {
  color: var(--color-primary-text);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  margin: auto;
  width: 50%;
  max-width: 1100px;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  color: rgb(105, 105, 105);
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-basis: 160px;
  height: 160px;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: var(--color-background);
  border: 0.4px solid rgb(48, 49, 52);
  border-radius: 6px;
}

.icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  transition:
    transform 0.15s,
    filter 0.15s;
}

/* Leve efecto al pasar el mouse por encima de la skill */
.skill:hover .icon {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 40px var(--hover-color));
}
