.footer {
  width: 100%;
  padding: 50px 0 55px;
  text-align: center;
  background-color: rgb(18, 19, 19);
  color: var(--color-secundary-text);
  font-size: 1.1rem;
}

.footer__creator {
  margin: 30px 0 10px;
}

.creator__name {
  color: var(--color-primary);
}
