.subtitle {
  color: var(--color-primary-text);
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.experiences-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  margin: auto;
  color: var(--color-secundary-text);
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta de Trabajo */
.work {
  flex-basis: 450px;
  padding: 1.5em;
  background-color: var(--color-background);
  border: 0.4px solid rgb(48, 49, 52);
  border-radius: 6px;
  transition: border 0.5s;
}

.work:hover {
  border: 0.4px solid var(--color-darker-primary);
}

.work__date {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.8em;
}
/* El icono del calendario */
.work__date svg {
  color: var(--color-primary);
}

.work-wrapper {
  display: flex;
  gap: 1em;
  margin: 1.2em 0 1.5em;
}

.role-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.work__role {
  color: var(--color-primary-text);
  font-size: 1.3em;
}

.work__company-name {
  color: var(--color-primary);
  font-size: 0.8em;
}

.work__icon {
  width: 65px;
  height: 60px;
  border-radius: 6px;
}

.work__points {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

/* Estilos de las Viñetas */
.work__points ::marker {
  color: var(--color-primary);
}

.work__points li {
  font-size: 0.9em;
}

/* Encabezado con la fecha del Trabajo */

.dates {
  flex-basis: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-text);
}
