.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  gap: 300px; /* Ajusta para separar las secciones de la pagina */
}

article {
  scroll-margin-top: 130px; /* Ajusta la altura en la que se ve la seccion de la pagina al hacer click en un link de la navbar */
}

/* --- RESPONSIVE DESIGNE --- */
/* Estilos para móviles */
@media (width <= 768px) {
  .main {
    padding-top: 110px;
    gap: 200px;
  }
  article {
    scroll-margin-top: 110px;
  }
}
