.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

/* Ajusta la altura en la que se ve la seccion de la pagina al hacer click en un link de la navbar */
article {
  scroll-margin-top: 120px;
}
