* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

body {
  background: radial-gradient(
    circle at 50% 50%,
    #0c241f 0%,
    #0b221c 30%,
    #111111 70%,
    #000000 100%
  );
  min-height: 100vh;
}
